
.qualiservice{
    width: 100vw;
    height: 900px;
 padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.left-service{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    position: relative;
    bottom: 300px;
    left: 200px;
  
}


.service-name{
    display: flex;
    flex-direction: column;
    position: relative;
    
   
    top: 50px;
    left: 300px;
}

.service-name>:nth-child(1){
    font-size: 3rem;
    color: rgb(5, 5, 5);
    font-family: 'Nunito', sans-serif;
   
}
.service-name>:nth-child(2){
    font-size: 1.3rem;
    color: rgb(220, 153, 30);
    font-family: 'Nunito', sans-serif;
}
.cardi{
    position: relative;
    transform: scale(0.8);
   
}
.cardi>*{
    position:absolute;
}

@media screen and (max-width: 1024px){
    .qualiservice{
        flex-direction: column;
gap: 2rem;
margin-top:90rem; 
    }
    .left-service{
      
        position: relative;
    left: -16rem;
    
       padding: 20px;
        flex-direction: column;
    }
    .service-name>:nth-child(2){
        font-size: 2rem;
        color: rgb(220, 153, 30);
        font-style: italic;
        font-weight: 600;
        left:150px;
    }

    .right-service{
        position: relative;
        
         flex-direction: column;
    }
    .cardi{
        display: flex;
        flex-direction: column;
        gap: 22rem;
        top: 100px;
        position: relative;
        left: 280px;
        padding: 60px;
       
    }
    
    .cardi>*{
        position: static;
    }
    .left-service{
        
        position: relative;
       
        flex-direction: column;
        position: relative;
       bottom: 200px;
       
      
    }
    
}