.skill{
    color: bisque;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}

.skill span:nth-of-type(1){
    color: rgb(11, 11, 11);
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
   font-weight: bold;
   position: relative;
   bottom: 180px;
   left:470px;
}

.skill span:nth-of-type(2){
    color: rgb(240, 152, 21);
    font-size: 1.5rem;
  
   font-family: 'Nunito', sans-serif;
   position: relative;
   bottom: 100px;
   left: 100px;
}




.skill-cards{
    width: 400px;
    display: grid;
   padding: 30px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(1,100px);
position: relative;
top: 200px;
right: 400px;
}
.majorskill-card{
    width: 130px;
    height: 130px;
    border-radius: 10px;
    background-color: rgb(249, 249, 248);
margin: 70px;
padding: 20px;
box-shadow: 0px 0px 4px 4px rgb(222, 222, 221);

}

.majorskill-card:hover{
    transform: scale(1.2);
    box-shadow: 0 10 10px rgba(239, 59, 185, 0.5);
    z-index: 5;
    transition: 0.8s;
    background-color: aliceblue;
}
.majorskill-card:nth-of-type(7){
    background-color:aliceblue;
}
.majorskill-card:nth-of-type(8){
    background-color:aliceblue;
}


.majorskill-card:nth-of-type(7):hover{
    background-color: aliceblue; ;
}
.majorskill-card:nth-of-type(8):hover{
    background-color: aliceblue;;
}

.majorskill-card img{
    width: 60px;
    height: 60px;
    position: relative;
    left: 10px;

}
 p{
   
    font-size: 18px;
    bottom: 200px;
    color: black;
    text-align: center;
    margin-top: 17px;
    font-weight: 500;
    padding: 12px;
    font-family: 'Nunito', sans-serif;
}

@media screen and (max-width: 1024px){

    .skill{
       
      flex-direction: column;
       position: relative;
     margin-top: 700px;
     
      
    }
    .skill span:nth-of-type(1){
       
       position: relative;
      
    
     left: 5px;
       
    }
    .skill span:nth-of-type(2){
       font-size: 1.3rem;
       position: relative;
       bottom: 200px;
       left: -5px;
       padding: 60px;
    }
    
    .skill-cards{
       
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,100px);
    padding: 70px;
    
    }
    .majorskill-card{
       transform: scale(0.7);
       position: relative;
       left: 400px;
    margin: 5px;
    padding: 5px;
   bottom: 500px;
   
    
    }
    .majorskill-card:hover{
        transform: scale(0.5);
        box-shadow: 0 10 10px rgba(239, 59, 185, 0.5);
        z-index: 7;
        background-color: aliceblue;
    }

    .majorskill-card:nth-of-type(7):hover{
        background-color: aliceblue; ;
    }
    .majorskill-card:nth-of-type(8):hover{
        background-color: aliceblue;;
    }
    

    h4{
        
        font-size: 1.5rem;
     
       
        margin-top: 10px;
    }
}
